body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font-family: Arial;
  background: radial-gradient(circle at center, #8b0000, #000);
  color: gold;
}

/* MAIN LAYOUT */
.game-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* TOP BALANCE */
.top-bar {
  position: absolute;
  top: 20px;
  background: black;
  padding: 10px 25px;
  border-radius: 25px;
  border: 2px solid gold;
  box-shadow: 0 0 10px gold;
  font-size: 18px;
}

/* SLOT AREA */
.slot-area {
  margin-top: 100px;
  text-align: center;
}

/* SLOT BOX */
.reels {
  width: 260px;
  height: 260px;
  background: black;
  border: 6px solid gold;
  border-radius: 20px;
  box-shadow: 0 0 25px gold;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 50px;
  line-height: 1.4;
}

/* WIN TEXT */
.win-text {
  margin-top: 15px;
  font-size: 22px;
  color: #00ff99;
  text-shadow: 0 0 10px #00ff99;
  height: 30px;
}

/* CONTROLS */
.controls {
  position: absolute;
  bottom: 30px;
  text-align: center;
}

/* BET */
.bet-box {
  margin-bottom: 10px;
  font-size: 18px;
}

.bet-box button {
  padding: 8px 15px;
  font-size: 18px;
  background: gold;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}

/* SPIN */
.spin-btn {
  width: 200px;
  padding: 15px;
  font-size: 22px;
  background: linear-gradient(red, orange);
  border: none;
  border-radius: 15px;
  color: white;
  font-weight: bold;
  box-shadow: 0 0 20px red;
}

/* BACK */
.back-btn {
  margin-top: 10px;
  width: 200px;
  padding: 10px;
  background: gray;
  border: none;
  border-radius: 10px;
}
