body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font-family: Arial;
  background: radial-gradient(circle at center, #8b0000, #000);
  color: gold;
}

/* CENTER WHOLE GAME */
.game-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* TOP BAR */
.top-bar {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.balance {
  background: black;
  padding: 10px 25px;
  border-radius: 25px;
  border: 2px solid gold;
  box-shadow: 0 0 10px gold;
  font-size: 18px;
}

/* SLOT AREA */
.slot-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* SLOT BOX */
.reels {
  width: 280px;
  height: 280px;
  background: black;
  border: 6px solid gold;
  border-radius: 20px;
  box-shadow: 0 0 25px gold;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 55px;
  line-height: 1.4;
}

/* WIN TEXT (IMPORTANT) */
.win-text {
  margin-top: 15px;
  font-size: 22px;
  color: #00ff99;
  text-shadow: 0 0 10px #00ff99;
  height: 30px;
}

/* CONTROLS */
.controls {
  text-align: center;
  margin-bottom: 25px;
}

/* BET */
.bet-box {
  margin-bottom: 10px;
  font-size: 18px;
}

.bet-box button {
  padding: 8px 15px;
  font-size: 18px;
  background: gold;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}

/* SPIN BUTTON */
.spin-btn {
  width: 200px;
  padding: 15px;
  font-size: 22px;
  background: linear-gradient(red, orange);
  border: none;
  border-radius: 15px;
  color: white;
  font-weight: bold;
  box-shadow: 0 0 20px red;
}

/* BACK BUTTON */
.back-btn {
  margin-top: 10px;
  width: 200px;
  padding: 10px;
  background: gray;
  border: none;
  border-radius: 10px;
}
